.panda-info-bg{
    background-color: #FCEAE8;
}
/* Categories CSS */
.categories img{
    width: 130px;
}
.btn-buy-now{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}